/* base.css */
/* =======================
        リセット用
デフォルトfont-size: 16px;
======================== */
* { 
  margin : 0;
  padding: 0;
  color: #000000;
  box-sizing : border-box;
  user-select: none;
  text-decoration: none;
}