@import "base.css";

.message-indivisual-screen {
  height: auto;
  width: 100%;
  background-color: #ffffff;
}

.message-indivisual-header-wrap {
  background-color: #e5e5e5;
  height: 50px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.message-indivisual-header-text {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #000000;
  padding-left: 10px;
}


.message-indivisual-main {
  margin-bottom: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.each-message-wrap {
  margin-top: 23px;
  height: auto;
  width: 320px;
  display: flex;
}
.each-left-wrap {
  width: 32px;
}
.each-left-wrap img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 2px solid #b2b2b2;
  background-color: #b2b2b2;
}
.each-right-wrap {
  padding-left: 16px;
  width: 270px;
}
.each-right-upper-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-name {
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
}
.left-time {
  letter-spacing: 2px;
  font-size: 12px;
  color: #9CA3AF;
}
.each-right-lower-text {
  margin-top: 10px;

  font-size: 14px;
  letter-spacing: 2px;
}

.send-message-footer-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.send-message-wrap {
  height: 47px;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.send-message-input {
  height: 47px;
  width: 260px;
  box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  display: flex;
  align-items: center;
  
  padding-left: 12px;
  color: #6B7280;
  letter-spacing: 4px;
}
.send-message-btn {
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(90deg, #B676F2 0%, #65A2FC 100%);
  box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.25);

  padding-left: 4px;
}
.send-message-btn img {
  height: 19px;
  width: 21px;
}